.container-fluid#footer
	.row.text-center(style='margin-top: 80px;')
		.col-xs-1.col-xs-offset-1
			div(style='text-align:left;')
				a(href='/about') ABOUT
				br
				a(href='/store') STORE
				br
				a(href='/bikes') BIKES
		.col-xs-1.col-xs-offset-1
			div(style='text-align:left;')
				a(href='/community') COMMUNITY
				br
				a(href='/team') TEAM
				br
				a(href='/api') API
		.col-xs-4
			img(src='/images/logo.png')
		.col-xs-3(style='margin-top:20px; text-align:right;')
			a.social(href='#')
				img(src='/images/btn_facebook.png')
			a.social(href='#')
				img(src='/images/btn_twitter.png')
			a.social(href='#')
				img(src='/images/btn_instagram.png')