.container-fluid#footer
	.row.text-center(style='margin-top: 80px;')
		.col-xs-1.col-xs-offset-1
			div(style='text-align:left;')
				a(href='/about', style='color:#777; font-size: 12px;') ABOUT
				br
				a(href='/store', style='color:#777; font-size: 12px;') STORE
				br
				a(href='/bikes', style='color:#777; font-size: 12px;') BIKES
		.col-xs-1.col-xs-offset-1
			div(style='text-align:left;')
				a(href='/community', style='color:#777;	font-size: 12px;') COMMUNITY
				br
				a(href='/team', style='color:#777; font-size: 12px;') TEAM
				br
				a(href='/api', style='color:#777; font-size: 12px;') API
		.col-xs-3
			img(src='/images/logo.png')
		.col-xs-4.col-xs-offset-1(style='margin-top:20px;')
			a(href='#', style='padding-right:35px;')
				img(src='/images/btn_facebook.png')
			a(href='#', style='padding-right:35px;')
				img(src='/images/btn_twitter.png')
			a(href='#')
				img(src='/images/btn_instagram.png')