doctype html
html
  head
    title= title
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-flat.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-flat-extras.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/scripts.js')
  body
    .container-fluid#wrapper
        include header

        .container-fluid#main
          block content

        include stayinloop

        include footer

        include storemenu