div#storemenu
    table(width='100%', height='1790', border='0', cellpadding='0', cellspacing='0')
      tr
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_all.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_accessories.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_bottombrackets.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_brakelevers.png', width='300', height='298', alt='')
      tr
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_brakerotors.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_chainrings.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_cogs.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_crankset.png', width='300', height='298', alt='')
      tr
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_forksrigid.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_forkssingle.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_forksdouble.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_grips.png', width='300', height='298', alt='')
      tr
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_handlebars.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_headsets.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_hubs.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_pedals.png', width='300', height='298', alt='')
      tr
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_rearshockair.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_rearshockcoil.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_rims.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_seatposts.png', width='300', height='298', alt='')
      tr
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_shifter.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_spokes.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_stems.png', width='300', height='298', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_tires.png', width='300', height='298', alt='')
      tr
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_off_25.png', width='300', height='2', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_off_26.png', width='300', height='2', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_off_27.png', width='300', height='2', alt='')
        td
          a(href='/store/12345')
            img(src='/images/menu_off/menu_off_28.png', width='300', height='2', alt='')
