@import url(http://fonts.googleapis.com/css?family=Montserrat:400,300);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,300);
html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  margin: auto 0; }

div#wrapper {
  max-width: 1110px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: auto; }

div#upper-nav {
  margin-top: 20px;
  margin-bottom: 20px; }
  div#upper-nav a {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
    color: #000; }

div#lower-nav {
  height: 100px;
  overflow: hidden; }
  div#lower-nav a {
    color: #000;
    padding: 7px; }

.navbar-default {
  background-color: #fff;
  border-color: #fff; }

#navbar-collapse {
  visibility: hidden; }

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%; }

.navbar-brand {
  float: none;
  padding: 0px; }
  .navbar-brand img {
    margin-top: -13px;
    margin-right: -15px; }

div#main {
  height: 693px;
  background-color: #bfd8d5; }

div#stayinloop {
  background-color: #f7f7f9;
  height: 300px; }

form#feedback-form {
  margin-top: 38px; }

h4#stayinloop {
  margin-top: 60px; }

h4#signup {
  margin-top: 25px;
  font-family: 'Playfair+Display'; }

input#email {
  width: 416px;
  text-align: center;
  font-size: 12px;
  height: 40px; }

button#submit {
  background-color: #000;
  color: #fff;
  width: 221px;
  font-size: 12px;
  height: 40px; }

div#footer {
  background-color: #222;
  min-height: 210px; }
  div#footer div a {
    color: #777;
    font-size: 9pt; }
  div#footer div a.social {
    padding-left: 35px; }

div#storemenu {
  display: none;
  position: absolute;
  background-color: #222;
  max-width: 1110px;
  min-height: 693px;
  top: 161px; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

@media (max-width: 767px) {
  input#email {
    width: 100%;
    text-align: center;
    font-size: 12px;
    height: 40px; }
  div#lower-nav {
    height: 90px; }
    div#lower-nav a {
      font-size: 12px; }
  #navbar-collapse {
    visibility: initial; }
  .navbar-header {
    float: inherit;
    padding: 15px;
    text-align: left;
    width: auto; }
  .navbar-brand {
    float: left; }
  .navbar-brand a {
    visibility: hidden; } }
