@import url(http://fonts.googleapis.com/css?family=Nunito:400,300);

* {box-sizing:border-box;}
body, div, html, h1, h2 {
  padding:0;
  margin:0;
  font-family:nunito;
  font-weight:300;
}
body {
  background:#F5F5F5;
}
h1 {
  text-transform:uppercase;
  font-size:40px;
  letter-spacing: 1px;
}
h2 {
  text-transform:uppercase;
  font-size:28px;
  margin-bottom:16px;
}
p {
  line-height:1.5;
  font-size:24px;
}
form { text-align: center;}
input {
  font-family:nunito;
  font-weight:600;
  padding:20px;
  font-size:16px;
  text-transform:uppercase;
  width:100%;
  max-width:600px;
  border: none;
 border-radius: 1px;
  margin: 0 0 4px 0;
}
input:focus {
  outline:none;
  opacity: 1;
}

input#mc-embedded-subscribe-bottom{
  max-width: 150px;
}

input{
  cursor: pointer;
}

input:hover{
  opacity: .75;
}


/* Header stuff here*/
#header {
  color:white;
}
#header .top {
  max-height:610px;
  padding: 15% 10% 17%;
  background:url(http://i.imgur.com/1brkzro.jpg) no-repeat 50% 0%;
  background-size:cover;
  background-attachment:fixed;
  
}
#header .bottom {
  display:flex;
  height:300px;
  flex-direction:row;
  flex-wrap:wrap;
}
.bottom > div {
  flex-grow:1;
  padding:25px;
}
.bottom > :first-child {
  background:#373737;
}
.bottom > :nth-child(2) {
  background:#3E3E3E;
}
.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.top.wrapper > :first-child {
  display:inline-block;
  margin:auto;
  height:200px;
  stroke:white;
  fill:white;
}
.bottom .wrapper > div {
  display:inline-block;
  margin:auto;
  width:540px;
}


/*Content Stuff Here*/
#content {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
#content .column {
  flex-grow:1;
  padding: 150px 20px;
  padding-bottom:100px;
  width:400px;
  
}
.column article {
  margin:0 auto;
  max-width:550px;
  padding-bottom:50px;
}


/* Footer Stuff Here */
#footer {
  display:flex;
  flex-direction:column;
  height:250px;
}
#footer > div {
  flex-grow:1;
}
#footer .wrapper .wrapper {
  width:90%;
}

#footer > :first-child {
  background:#3E3E3E;
}
#footer > :nth-child(2) {
  background:#373737;
}
#footer .wrapper:first-child > div {
  margin:auto;
}
#footer h2 {
  color:white;
  margin-top:9px;
  margin-right:30px;
  font-size: 26px;
  width:33.33%;
  text-align: right;
}
#footer form { width: 66.66%; }
#footer input { width: 50%; float: left;}
#footer > :nth-child(2) {
  overflow:hidden;
  max-height:60px;
}
#footer > :nth-child(2) svg {
  height:60px;
  margin:auto;
  margin-top:10px;
  fill:#606060;
}
@media screen and (max-width: 900px) {
  
  .bottom .wrapper > div {
    width: 100%;
  }
  
  #footer > .wrapper > .wrapper {
    display:block;
    width: 100%;
    padding: 10px 5% 30px;
  }
  #footer form { width: 100%; text-align: center; }
  #footer input { width: 100%; float: none; }
  
  #footer h2 { text-align: center; margin-bottom: 8px; font-size: 21px; width: 100%; }
  
  svg { max-width: 60%; }
  
  p { font-size: 1.05em; line-height: 1.5; }
  
  #header .bottom h1, #header .bottom h2 { 
    font-size: 32px; 
    text-align: center; 
  }
  
  #header .top {
    padding: 28% 0; max-height: none;
  }
  
  #content { padding: 40px 0;}
  
  .column article { padding: 20px 0 0; width: 100%; }
  
  #content .column {
    flex-grow:1;
    padding: 20px 20px 0;
    max-width: 850px;
  }
  
}

@media screen and (max-width: 600px) {
  #header .bottom h1, #header .bottom h2 { 
    font-size: 22px;  
  }
}
