@import url(http://fonts.googleapis.com/css?family=Montserrat:400,300);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,300);

html, body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	margin: auto 0;
}

// TODO: commented out for now
// div#storemenu {
// 	div {
// 		height: 200px;
// 		width: 200px;
// 	}

// 	.category {
// 		width: 100%;
// 		height: 100%;
// 	}
// }

// div#storemenu div {
// max-width: 300px;
// max-height: 300px;
// /* padding: 40px; */
// /* margin: 13px; */
// /* vertical-align: middle; */
// text-align: center;
// /* margin-top: 35px; */
// border: rgb(111, 111, 111);
// border-width: 0.5px;
// border-style: solid transparent;
// border: 1px solid #333;
// /* transform: scale(0.5); */
// border-left: none;
// width: auto;
// height: auto;
// display: grid;
// }

// div#storemenu {
// display: none;
// position: absolute;
// background-color: #222;
// max-width: 1200px;
// top: 161px;
// /* left: 104px; */
// margin: auto 0;
// }


// ## WRAPPER ##
div#wrapper {
	max-width: 1110px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: auto;
}


// ## HEADER ##
div#upper-nav {
	margin-top: 20px;
	margin-bottom: 20px;
	
	a {
		font-family: 'Playfair Display', sans-serif;
		font-weight: 400;
		font-style: italic;
		letter-spacing: 1px;
		color: #000;
	}
}

div#lower-nav {
	height: 100px;
	overflow: hidden;

	a {
		color: #000;
		padding: 7px;
	}
}

.navbar-default {
	background-color: #fff;
	border-color: #fff;
}

#navbar-collapse {
	visibility: hidden;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
	float:none;
	padding: 0px;

	img {
		margin-top: -13px;
		margin-right: -15px;
	}
}




// ## MAIN CONTENT ##
div#main {
	height: 693px;
	background-color: #bfd8d5;
}




// ## FRONTPAGE FEEDBACK ##
div#stayinloop {
	background-color: #f7f7f9;
	height: 300px;
}

form#feedback-form {
	margin-top: 38px;
}

h4#stayinloop {
	margin-top: 60px;
}

h4#signup {
	margin-top: 25px;
	font-family: 'Playfair+Display';
}

input#email {
	width: 416px;
	text-align: center;
	font-size: 12px;
	height: 40px;
}

button#submit {
	background-color: #000;
	color: #fff;
	width: 221px;
	font-size: 12px;
	height: 40px;
}



// ## FOOTER ##
div#footer {
	background-color: #222;
	min-height: 210px;

	div a {
		color: #777;
		font-size: 9pt;
	}

	div a.social {
		padding-left:35px;
	}
}




// ## STORE MENU
div#storemenu {
	display: none;
	position: absolute;
	background-color: #222;
	max-width: 1110px;
	min-height: 693px;
	top: 161px;
}




.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

@media(max-width:767px) {
	input#email {
		width: 100%;
		text-align: center;
		font-size: 12px;
		height: 40px;
	}
	div#lower-nav {
		height: 90px;

		a {
			font-size: 12px;
		}
	}
	#navbar-collapse {
		visibility: initial;
	}
	.navbar-header {
	    float: inherit;
	    padding: 15px;
	    text-align: left;
	    width: auto;
	}
	.navbar-brand {float:left;}
	.navbar-brand a {
		visibility: hidden;
	}
}