.container-fluid#stayinloop
	.row-fluid.text-center
		.col-md-12.text-center
			h4#stayinloop STAY IN THE LOOP
			h4#signup Sign up for our newsletter to receive<br> updates on cool bicycle things.
			form.form-inline#feedback-form('action="http://buildminimal.us10.list-manage.com/subscribe/post?u=81664ffb70159ab45e09d4de6&id=751e79f271"', method='post', class='validate' target='_blank', novalidate='')        
				input(type='hidden', name='b_81664ffb70159ab45e09d4de6_751e79f271')
				input#email.form-control(type='email', placeholder='YOUR E-MAIL ADDRESS')
				button.btn.btn-default#submit(type='submit') SIGN UP
	